<configuration>
    <property name="DEBUG_LOG" value="/opt/logs/app.log"/>
    <property name="ERROR_LOG" value="/opt/logs/errors.log"/>

<!--
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
-->
    <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${DEBUG_LOG}</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/opt/logs/app.%d{yyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="ERRORS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${ERROR_LOG}</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/opt/logs/errors.%d{yyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="in.bushansirgur.onlinebookstore" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APP_LOG"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ERRORS_LOG"/>
    </root>

</configuration>
